<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272833201448-krilp34g9i37levse71f1r84vqnvl3a2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272833201448-krilp34g9i37levse71f1r84vqnvl3a2</string>
	<key>API_KEY</key>
	<string>AIzaSyCOifPOtQr1abSMsxgLRhGMXtKGwvuzmwo</string>
	<key>GCM_SENDER_ID</key>
	<string>272833201448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hanatongdoc2</string>
	<key>PROJECT_ID</key>
	<string>hanatongdoc2</string>
	<key>STORAGE_BUCKET</key>
	<string>hanatongdoc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272833201448:ios:2975aafeffae753987bc1d</string>
</dict>
</plist>